.header {
  height: 70px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 3;
  background: var(--gradient);
  width: 100vw;
}

.header__container {
  width: 1090px;
  display: flex;
  justify-content: space-between;
  padding:  0 10px 10px;
  box-sizing: border-box;
}

.header__me {
  display: flex;
  gap: 5px;
  visibility: hidden;
}

.header__photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px rgb(181, 174, 174);
  cursor: pointer;
  background-color: white;
  background-image: url('../../images/developerPhoto.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header__lang-toggle {
  display: flex;
  gap: 15px;
}

.header__btn {
  /* height: 35px; */
  height: 100%;
  align-self: flex-end;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 10px;
  text-align: center;
  border: 1px solid transparent;
  -webkit-tap-highlight-color:  transparent;
}

.header__btn:hover {
  opacity: 0.7;
  border: 1px solid var(--accent-milk-color);
  border-bottom-left-radius: 20px;
  border-top: 1px solid transparent;

}

.active {
  background-color: var(--accent-milk-color);
  border-bottom-left-radius: 20px;
  border-top: 1px solid var(--accent-milk-color) ;
}

@media screen and (max-width: 1090px) {
  .header__container {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header__title {
    font-size: 18px;
  }
}
