.header {
  height: 70px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: var(--gradient);
}

.header__container {
  width: 1090px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.header__me {
  display: flex;
  gap: 5px;
}

.header__photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px rgb(181, 174, 174);
  cursor: pointer;
  background-color: white;
  background-image: url('../../images/frontederPhoto.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header__links {
  display: flex;
  gap: 30px;
}

.header__link {
  font-size: 16px;
}

.header__link:hover {
  text-decoration: underline;

}

.header__lang-toggle {
  display: flex;
  gap: 5px;
}

.header__btn {
  height: 35px;
  align-self: flex-end;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 10px;
  text-align: center;
}

.header__btn:hover {
  opacity: 0.3;
}

.active {
background-color: white;
border-radius: 50%;
}

@media screen and (max-width: 1090px) {
  .header__container {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header__title {
    font-size: 20px;
  }
}