:root {
  /* texts */
  --main-text-color: #3d3d3d;;
  --accent-milk-color: #fffaf4;
  --accent-purple-color: #d837e8;
  --footer-copyright-color: grey;

  /* background */
  --main-bg-color: #fff;
  --footer-bg-color: #3d3d3d;
  --gradient: linear-gradient(90deg, #00c2ff, #9c83c5, #d837e8);

  /* extra */
  scroll-behavior: smooth;
}
