.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.footer__container {
  width: 1090px;
  padding: 10px;
  box-sizing: border-box;
}

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__invitation {
  margin-block-start: 0;
  margin-block-end: 0;
  align-self: center;
  font-size: 26px;
  color: var(--accent-milk-color);
}

.footer__contacts {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin: 20px 0;
}

.footer__copyright {
  color: var(--footer-copyright-color);
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer__contact-item {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 14px;
  cursor: pointer;
  color: var(accent-milk-color);
  border: 1px solid var(--accent-milk-color);
  padding: 7px 15px;
  text-decoration: none;
  display: flex;
  gap: 7px;
  align-items: center;
}

.footer__contact-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.footer__contact-icon_telegram {
  background-image: url(../../images/icons/telegram.svg);
}

.footer__contact-icon_github {
  background-image: url(../../images/icons/github.svg);
}

.footer__contact-icon_email {
  background-image: url(../../images/icons/email.svg);
}

@media screen and (max-width: 1090px) {
  .footer__container {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .footer__contacts {
    gap: 15px;
  }
}

@media screen and (max-width: 550px) {
  .footer__main {
    flex-direction: column;
  }

  .footer__contacts {
    align-self: center;
  }

  .footer__copyright {
    border-top: 1px solid var(--footer-copyright-color);
    padding: 10px 10px 0 10px;
    text-align: center;
    box-sizing: border-box;
  }

  .footer__invitation {
    font-size: 19px;
  }

  .footer__contact-item {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}
