.aboutMe {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.aboutMe__container {
  width: 1090px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 10px;
}

/* tag */

.aboutMe__decor-span {
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, white, white, var(--accent-purple-color));
  margin-right: 10px;
  visibility: hidden;
}

.aboutMe__tag {
  display: flex;
  justify-content: end;
}

.aboutMe__tag-text {
  background: var(--accent-purple-color);
  color: var(--accent-milk-color);
  width: 40px;
  height: 78px;
  writing-mode: vertical-rl;
  text-align: center;
  padding: 5px 5px 5px;
  border-bottom-left-radius: 20px;
}

/* title and subtitle */

.aboutMe__title {
  text-align: center;
  font-size: 40px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 20px;
}

.aboutMe__subtitle {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 24px;
  align-self: end;
  margin-right: 14px;
  margin-top: 70px;
  text-align: end;
}

/* box */

.aboutMe__info-container {
  width: 100%;
  height: 600px;
  background: var(--gradient);
  background: linear-gradient(90deg, #00c2ff, #9c83c5, #d837e8, white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutMe__decor {
  height: 100%;
  width: 250px;
  background-image: url('../../images/introBackground.png');
  background-position: right;
}

.aboutMe__info {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  position: relative;
  z-index: 2;
  width: 800px;
  height: calc(100% - 12px);
  display: grid;
  grid-template-rows: 62% 38%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'greetings photo'
    'image name';
}

.photo {
  background-image: url('../../images/developerPhoto.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  grid-area: photo;
  background-size: 64%;
}

.image {
  background-image: url('../../images/introBackground.png');
  background-position: center;
  grid-area: image;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 23px;
  grid-area: name;
}

/* greetings  */

.greetings {
  grid-area: greetings;
}

.greetings_top {
  text-align: center;
  font-size: 28px;
}

.greetings_bottom {
  padding: 0 20px;
  text-indent: 25px;
  font-size: 18px;
  text-align: justify;
  line-height: 1.3;
}

.greeting__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.greeting__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.greeting__number {
  background: var(--gradient);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting__span {
  display: inline-block;
  background-color: var(--main-bg-color);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting__list-text {
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 1090px) {
  .aboutMe__container {
    width: 100%;
  }

  .aboutMe__decor {
    width: 150px;
  }

  .aboutMe__info {
    grid-template-rows: 70% 30%;
    width: calc(100% - 10px);
    margin: 5px 0px 5px 10px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 890px) {
  .aboutMe__decor {
    width: 30px;
  }
}

@media screen and (max-width: 680px) {
  .aboutMe__info-container {
    height: 900px;
  }

  .aboutMe__info {
    display: flex;
    flex-direction: column;
  }

  .greeting__list-text {
    font-size: 20px;
  }

  .greetings_bottom {
    font-size: 20px;
    line-height: 1.4;
  }

  .greetings {
    height: 380px;
    width: 100%;
  }

  .photo {
    margin-top: 15px;
    background-size: 60%;
    background-position: center;
    height: 430px;
  }

  .aboutMe__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .aboutMe__decor-span {
    visibility: visible;
  }

  .aboutMe__tag-text {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .aboutMe__subtitle {
    text-align: end;
    align-self: end;
    margin-right: 0;
    font-size: 22px;
    width: 380px;
  }
}

@media screen and (max-width: 430px) {
  .aboutMe__decor-span {
    visibility: visible;
  }

  .aboutMe__subtitle {
    font-size: 18px;
    width: 280px;
  }

  .aboutMe__tag {
    margin-bottom: 20px;
  }

  .aboutMe__info {
    gap: 0;
  }

  .greetings {
    height: 380px;
  }

  .greeting__list-text {
    font-size: 14px;
    width: 200px;
  }

  .greetings_bottom {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .photo {
    height: 300px;
    background-size: 70%;
  }

  .aboutMe__info-container {
    height: 790px;
  }
}

@media screen and (max-width: 360px) {
  .greeting__number {
    width: 32px;
    height: 32px;
  }

  .greeting__span {
    width: 24px;
    height: 24px;
    padding-top: 3px;
    box-sizing: border-box;
  }

  .aboutMe__info-container {
    height: 770px;
  }

  .photo {
    margin-top: 0;
  }

  .name {
    font-size: 20px;
  }
}
